.AppComponent{
    display: flex;
    flex-direction: column;
}


.Header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(130, 87, 229);
    font-weight: bold;
    text-transform: uppercase;

}

.Header nav h1{
    margin: 20px 70px 20px 70px;
    color: #fff;
}

.Header nav a{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
    color: #fff;
    text-decoration: none;
}


.Container{

    padding: 70px;
}



.studentForm{
    background-color: rgb(130, 87, 229);
    height: 100vh;
    width: 40vw;

}

.studentList{
  
    padding: 0px 40px 40px 40px
}

@media (max-width: 800px){
    .studentForm{
        height: 60vh;
        width: 100vw;
    }

    .studentLis{
        width: 100vw;
    }

    .AppComponent{
        flex-direction: column;
    }
}