<div class="Students">
    <h1>Students</h1>
    <ul>
        <li *ngFor="let student of storageService.ready()">
            <div class="Card">
            
                <span class="Text">Nome: {{student.Nome}}</span>
                <br>
                <span class="Text">Email: {{student.Email}}</span>
                <br>
                <span class="Text">Data de Nascimento: {{student.DataNascimento}}</span>
                <br>
                <span class="Text">Sexo: {{student.Sexo}}</span>

                <div class="ButtonGroup">
                    <button class="Button" (click)="storageService.delete(student)">delete</button>
                    <button class="Button" (click)="handleEdit(student)">Editar</button>
                </div>
            </div>

        </li>
    </ul>
</div>