/* HeroesComponent's private CSS styles */
.Students h1{
  color: rgb(130, 87, 229);
  text-transform: uppercase;
  
}

.Students ul{

    width: auto;
    height: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }


.Students .Card{
  width: auto;
  height: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 20px;
  transition: all 0.5s ease-out;
}

.Students .Card .Text{
  font-weight: bold;
  font-size: 16px;
  opacity: 70%;
  color: var(--colorText);
}

.Students .Card .ButtonGroup{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
  
}
  .students li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .students li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .students li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .students li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }

  
.Students .Button{
    background-color: var(--colorButton);
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: var(--colorTextButton);
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    margin-right: 20px;
}

.Students .Button:hover{
  background-color: var(--colorButtonHover);
  
}