<div class="StudentsForm">
    <h1>Registrar Aluno</h1>

    <form class="students-form" [formGroup]="studentForm" (ngSubmit)="handleOnSubmit()">
        <input type="text" formControlName="name" placeholder="Nome">
        <input type="text" formControlName="email" placeholder="E-mail">
        <input type="text" formControlName="dateOfBirth" placeholder="Data de Nascimento">
        <input type="text" formControlName="sex"placeholder="Sexo">


    <button class="Button" type="submit">Registrar</button>

</form>
</div>